<template>
<v-dialog lazy max-width="1000" v-model="$store.state.showScopeStatusDialog">
  
    

  <el-card class="box-card">
    <div slot="header" class="clearfix">
      <span>
        <v-card-title><div class="headline">实时状态 <span style="color:#66E">  {{$store.state.selectedTelescope}}</span>
        <input type="checkbox" id="followCCD" checked="true" v-model="followCCD" />
        <label for="followCCD">CCD跟随</label>
        </div></v-card-title>
      </span>
  </div>
  <el-row :gutter="1">
      <el-col :xs="12" :sm="8" :md="8" :lg="4" :xl="4">
        <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span><v-card-title>天文台</v-card-title></span>
        </div>
        <el-row >
          <el-col :span="12">状态</el-col><el-col :span="12">:{{obsStatus}}</el-col>
          <el-col :span="12">本地时间</el-col><el-col :span="12">:{{span_local_time_}}</el-col>
          <el-col :span="12">UTC时间</el-col><el-col :span="12">:{{span_utc_time_}}</el-col>
          <el-col :span="12">恒星时</el-col><el-col :span="12">:</el-col>
          <el-col :span="12">使用者</el-col><el-col :span="12">:</el-col>
        </el-row>
      </el-card>
    </el-col>
      <el-col :xs="12" :sm="8" :md="8" :lg="4" :xl="4" >
        <el-card class="box-card">
          <div slot="header" class="clearfix"><v-card-title>望远镜</v-card-title></div>
          <el-row >
            <el-col :span="12">状态</el-col><el-col :span="12">:{{span_scope_status_}}</el-col>
            <el-col :span="12">Ra</el-col><el-col :span="12">:{{span_scope_ra_}}</el-col>
            <el-col :span="12">Dec</el-col><el-col :span="12">:{{span_scope_dec_}}</el-col>
            <el-col :span="12">方位角</el-col><el-col :span="12">:{{span_scope_az_}}</el-col>
            <el-col :span="12">高度角</el-col><el-col :span="12">:{{span_scope_alt_}}</el-col>
            <el-col :span="12">AirMass</el-col><el-col :span="12">:</el-col>
          </el-row>
        </el-card>
      </el-col>
      <el-col :xs="12" :sm="8" :md="8" :lg="4" :xl="4" >
        <el-card class="box-card">
          <div slot="header" class="clearfix"><v-card-title>相机</v-card-title></div>
          <el-row >
            <el-col :span="12">状态</el-col><el-col :span="12">:{{span_ccd_status_}}</el-col>
            <el-col :span="12">滤镜</el-col><el-col :span="12">:{{span_ccd_filter_}}</el-col>
            <el-col :span="12">像素拼合</el-col><el-col :span="12">:{{span_ccd_bin_}}</el-col>
            <el-col :span="12">制冷</el-col><el-col :span="12">:{{cameraCooler}}</el-col>
          </el-row>
        </el-card>
      </el-col>
      <el-col :xs="12" :sm="8" :md="8" :lg="4" :xl="4" >
        <el-card class="box-card">
          <div slot="header" class="clearfix"><v-card-title>导星</v-card-title></div>
          <el-row >
            <el-col :span="12">相机</el-col><el-col :span="12">:{{s_sm_guideStat}}</el-col>
            <el-col :span="12">FWHM</el-col><el-col :span="12">:{{guideFWHM}}</el-col>
          </el-row>
        </el-card>
      </el-col>
      <el-col :xs="12" :sm="8" :md="8" :lg="4" :xl="4" >
        <el-card class="box-card">
          <div slot="header" class="clearfix"><v-card-title>计划信息</v-card-title></div>
          <el-row >
            <el-col :span="12">拍摄计划</el-col><el-col :span="12">:{{span_plan_taskName}}</el-col>
            <el-col :span="12">进度</el-col><el-col :span="12">:{{planProcess}}</el-col>
            <el-col :span="12">目标</el-col><el-col :span="12">:{{planTarget}}</el-col>
            <el-col :span="12">单张重复</el-col><el-col :span="12">:{{planRepeate}}</el-col>
            <el-col :span="12">滤镜</el-col><el-col :span="12">:{{planFilter}}</el-col>
            <el-col :span="12">计划重复</el-col><el-col :span="12">:{{planCount}}</el-col>
          </el-row>
        </el-card>
      </el-col>

      <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6" >
        <el-card class="box-card">
          <transition name="fade">
          <div class="status-item-board status-board-21" :style="cameraStyle" v-show="imageFadeShow">
            &emsp;
          </div>
          </transition>
        </el-card>
      </el-col>
      <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6" >
        <el-card class="box-card">
          <transition name="fade">
          <div class="status-item-board status-board-21" :style="preImageUrl" v-show="imageFadeShow">
            &emsp;
          </div>
          </transition>
        </el-card>
      </el-col>
      <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6" >
        <el-card class="box-card">
          <transition name="fade">
          <div class="status-item-board status-board-21" :style="focusUrl" v-show="imageFadeShow">
            &emsp;
          </div>
          </transition>
        </el-card>
      </el-col>
      <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12" >
        <el-card class="box-card">
          <div style="height:200px;width:400px;">
            <ve-line :data="chartData" width="380px" height="260px" ></ve-line>
          </div>
        </el-card>
      </el-col>

    </el-row>
  </el-card>



  <v-card v-if="$store.state.showScopeStatusDialog" class="secondary white--text">
<!--     <v-card-title><div class="headline">实时状态 <span style="color:#66E">  {{$store.state.selectedTelescope}}</span>
    <input type="checkbox" id="followCCD" checked="true" v-model="followCCD" />
    <label for="followCCD">CCD跟随</label>
  </div></v-card-title> -->
    <v-card-text>
      <div class="status-board">
        <!-- <div class="status-item-board status-board-11">
          <div class="box-title">天文台</div>
          <div class="box-key-1">状态</div>
          <div class="box-value-1">{{obsStatus}}</div>
          <div class="box-key-2">本地时间</div>
          <div class="box-value-2">{{span_local_time_}}</div>
          <div class="box-key-3">UTC时间</div>
          <div class="box-value-3">{{span_utc_time_}}</div>
          <div class="box-key-4">恒星时</div>
          <div class="box-value-4">-</div>
          <div class="box-key-5">使用者</div>
          <div class="box-value-5">-</div>
          <div class="box-key-6">&emsp;</div>
          <div class="box-value-6">&emsp;</div>
        </div>
        <div class="status-item-board status-board-12">
          <div class="box-title">望远镜</div>
          <div class="box-key-1">状态</div>
          <div class="box-value-1">{{span_scope_status_}}</div>
          <div class="box-key-2">RA</div>
          <div class="box-value-2">{{span_scope_ra_}}</div>
          <div class="box-key-3">Dec</div>
          <div class="box-value-3">{{span_scope_dec_}}</div>
          <div class="box-key-4">方位角</div>
          <div class="box-value-4">{{span_scope_az_}}</div>
          <div class="box-key-5">高度角</div>
          <div class="box-value-5">{{span_scope_alt_}}</div>
          <div class="box-key-6">AirMass</div>
          <div class="box-value-6">-</div>
        </div>
        <div class="status-item-board status-board-13">
          <div class="box-title">相机</div>
          <div class="box-key-1">状态</div>
          <div class="box-value-1">{{span_ccd_status_}}</div>
          <div class="box-key-2">滤镜</div>
          <div class="box-value-2">{{span_ccd_filter_}}</div>
          <div class="box-key-3">像素拼合</div>
          <div class="box-value-3">{{span_ccd_bin_}}</div>
          <div class="box-key-4">制冷</div>
          <div class="box-value-4">{{cameraCooler}}</div>
          <div class="box-key-5">&emsp;</div>
          <div class="box-value-5">&emsp;</div>
          <div class="box-key-6">&emsp;</div>
          <div class="box-value-6">&emsp;</div>
        </div>
        <div class="status-item-board status-board-14">
          <div class="box-title">导星</div>
          <div class="box-key-1">相机</div>
          <div class="box-value-1">{{s_sm_guideStat}}</div>
          <div class="box-key-2">FWHM</div>
          <div class="box-value-2">{{guideFWHM}}</div>
          <div class="box-key-3">&emsp;</div>
          <div class="box-value-3">&emsp;</div>
          <div class="box-key-4">&emsp;</div>
          <div class="box-value-4">&emsp;</div>
          <div class="box-key-5">&emsp;</div>
          <div class="box-value-5">&emsp;</div>
          <div class="box-key-6">&emsp;</div>
          <div class="box-value-6">&emsp;</div>
        </div>
        <div class="status-item-board status-board-15">
          <div class="box-title">计划信息</div>
          <div class="box-key-1">拍摄计划</div>
          <div class="box-value-1">{{span_plan_taskName}}</div>
          <div class="box-key-2">进度</div>
          <div class="box-value-2">{{planProcess}}</div>
          <div class="box-key-3">目标</div>
          <div class="box-value-3">{{planTarget}}</div>
          <div class="box-key-4">单张重复次数</div>
          <div class="box-value-4">{{planRepeate}}</div>
          <div class="box-key-5">滤镜</div>
          <div class="box-value-5">{{planFilter}}</div>
          <div class="box-key-6">计划重复次数</div>
          <div class="box-value-6">{{planCount}}</div>
        </div> -->
<!--         <transition name="fade">
        <div class="status-item-board status-board-21" :style="cameraStyle" v-show="imageFadeShow">
          &emsp;
        </div>
      </transition>
        <transition name="fade">
        <div class="status-item-board status-board-22" :style="preImageUrl"  v-show="imageFadeShow">
          &emsp;
        </div>
      </transition>
        <transition name="fade">
        <div class="status-item-board status-board-23" :style="focusUrl" v-show="imageFadeShow">
          &emsp;
        </div>
        </transition>

        <div class=" status-board-24">
          <div style="height:200px;width:400px;">
            <ve-line :data="chartData" width="380px" height="260px" ></ve-line>
          </div>
        </div> -->
      </div>
      <div class="log-board-header">日志</div>
      <div v-html="logText" class="log-board">{{logText}}</div>

    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer><v-btn class="blue--text darken-1" flat @click.native="$store.state.showScopeStatusDialog = false">关闭</v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>



</template>u

<script>
  // import VeLine from 'v-charts/lib/line.common'
  import 'echarts/lib/component/tooltip';
  import 'echarts/lib/component/title';
  import 'echarts/lib/component/toolbox';
  import 'echarts/lib/component/legendScroll';
  import VeLine from 'v-charts/lib/line';
  import 'v-charts/lib/style.css';
  const config = require('../../config')

  export default {
    components: { VeLine },
    data: function () {
      
      return {
        chartData: {
        columns: ['xa','x', 'y'],
        rows: [
          {i:'0', 'x': '0', 'y': 0 },
          {i:'1', 'x': '0', 'y': 0 },
          {i:'2', 'x': '0', 'y': 0 },
          {i:'3', 'x': '0', 'y': 0 },
          {i:'4', 'x': '0', 'y': 0 },
          {i:'5', 'x': '0', 'y': 0 }
          ]
        },
        // chartSettings : {
        //   labelMap: {
        //     x: 'xxx',
        //     y: 'yyy'
        //   },
        //   yAxis:{min:-5,max:5,axisLabel:{color:white}}
        // },
        // deviceName:'',
        obsStatus         :'',
        guidCameraStatus  :'',
        guideFWHM         :'',
        s_sm_guideStat    :'',
        cameraCooler      :'',
        span_utc_time_    :'',
        span_local_time_  :'',
        span_scope_status_:'',
        span_scope_ra_    :'',
        span_scope_dec_   :'',
        span_scope_az_    :'',
        span_ccd_status_  :'',
        span_ccd_filter_  :'',
        span_ccd_bin_     :'',
        span_scope_alt_   :'',
        span_plan_taskName:'',
        planProcess       :'',
        planCount         :'',
        planRepeate       :'',
        planFilter        :'',
        planTarget        :'',
        logText           :'',
        followCCD         :false,
        intervalId        :0,
        imageFadeShow     :true,
        cameraStyle       :{'background-image':'url(http://gyz.xtelescope.net:18084/XP1/camera.png)','background-repeat':'no-repeat','background-position':'-400px -300px','background-size':'800px 600px',height:'200px'},
        preImageUrl       :{'background-image':'url(http://gyz.xtelescope.net:18084/XP1/lastimage.png)','background-repeat':'no-repeat','background-position':'0px 0px','background-size':'200px 600px',height:'200px'},
        focusUrl          :{'background-image':'url(http://gyz.xtelescope.net:18084/XP1/pvimage.png)','background-repeat':'no-repeat','background-position':'0px 0px','background-size':'200px 600px',height:'200px'},
      }
    },
    created:function(){
      // this.$parent.$parent.$parent.menuItems.concat([{divider: true},{header: '~~~'},]);
      const ws = new WebSocket(config.dev.amqUrl, 'stomp');
      ws.onopen = () => {
        ws.send('CONNECT\n\n\0');       
        ws.send('SUBSCRIBE\ndestination:'+'/topic/'+config.dev.amqStatusTopic+'\n\nack:auto\n\n\0');       
        // ws.send('DISCONNECT\n\n\0');
      };    
      ws.onmessage = (e) => {
        if (e.data.startsWith('MESSAGE')){
          var msgObj = JSON.parse(e.data.match(/\{.*\}/)[0])          
          if(this.followCCD){console.log(msgObj)}

          // console.log(msgObj.msgType == '更新状态');
          if(msgObj.msgType !== undefined && msgObj.msgType == 'WebCamera'){
          }else if(msgObj.msgType == 'oss_camera'){
            // $("#img_"+msgObj.deviceName).attr("src",msgObj.ossPath);msgObj.msgType='监控更新 OSS';
          }else if( msgObj.msgType == 'oss_thumbnail') {
          }else if( msgObj.msgType == 'oss_thumbnail_center') {
          }else if( msgObj.msgType == 'oss_fits') {
              // toastr["success"](msgObj.deviceName +"  执行结束   " + msgObj.taskName );\
              console.log(msgObj.deviceName +"  执行结束   " + msgObj.taskName );
              this.updateTaskDownload(msgObj.taskName,msgObj.ossPath);
          }else if( msgObj.msgType == '数据文集处理') {
          }else if( msgObj.msgType == 'SQM') {
          }else if( msgObj.msgType == 'sites') {
            for (let i in msgObj.sites) {
              let siteItem = msgObj.sites[i]
              let hasSite=false
              for (let j in this.$parent.$parent.$parent.menuItems) {
                let menuItem = this.$parent.$parent.$parent.menuItems[j]
                // console.log(menuItem.header + '         ' + siteItem.site_name)
                if (siteItem.site_name==menuItem.header) {
                  hasSite=true
                }
              }
              if (!hasSite) {
                // this.$parent.$parent.$parent.menuItems= this.$parent.$parent.$parent.menuItems.concat([{divider:true},{header:siteItem.site_name}]);
              }
            }

          }else if( msgObj.msgType == '接受执行') {
              // if( $('#selectedScope').text() === msgObj.deviceName ){var effectOptions = {};$('#scope_simulator').effect( 'pulsate', effectOptions, 500 );}
              // toastr["success"](msgObj.deviceName +"  接受执行   " + msgObj.taskName);
          }else if( msgObj.msgType == '忽略执行') {
              // toastr["error"](msgObj.deviceName +"  忽略执行   " + msgObj.taskName);
          }else if( msgObj.msgType == '更新状态'){
              // if(msgObj.deviceName !== undefined){$('#scope_'+msgObj.deviceName).css('color','blue')}
              // this.deviceName=msgObj.deviceName;
              let hasSystem=false
              let gaoyaziIndex=this.$parent.$parent.$parent.menuItems.size
              let iconString = msgObj.obsOffLine?'star_border':'star'
              if(msgObj.obsOffLine=== undefined){iconString='star_border'}

              for (let j in this.$parent.$parent.$parent.menuItems) {
                let menuItem = this.$parent.$parent.$parent.menuItems[j]
                // console.log(menuItem.header + '         ' + siteItem.site_name)
                if (msgObj.deviceName==menuItem.title) {
                  hasSystem=true
                  this.$parent.$parent.$parent.menuItems[j].isObsOnLine=msgObj.obsOffLine
                  this.$parent.$parent.$parent.menuItems[j].icon=iconString
                }
                if(menuItem.header=='高崖子'){
                  gaoyaziIndex=j
                }
              }
              // console.log('---------'+hasSystem + '      ' +gaoyaziIndex + '   ' +msgObj.deviceName)
              if(!hasSystem && gaoyaziIndex){
                // this.$parent.$parent.$parent.menuItems = 

                this.$parent.$parent.$parent.menuItems.push({title: msgObj.deviceName, icon: iconString, store_var_name: 'selectedTelescope',isObsOnLine:msgObj.obsOffLine});
                // console.log(this.$parent.$parent.$parent.menuItems)
              }
              if( this.$store.state.selectedTelescope === msgObj.deviceName ){
                  this.obsStatus         = msgObj.obsOffLine?'在线':'离线';
                  this.guideFWHM         = msgObj.guideFWHM;
                  this.guidCameraStatus  = msgObj.guidCameraStatus;
                  this.planProcess       =msgObj.planProcess;
                  this.planCount         =msgObj.planCount;
                  this.planRepeate       =msgObj.planRepeate;
                  this.planFilter        =msgObj.planFilter;
                  this.planTarget        =msgObj.planTarget;
                  this.s_sm_guideStat    = msgObj.s_sm_guideStat;
                  this.span_utc_time_    = msgObj.span_utc_time_;
                  this.span_local_time_  = msgObj.span_local_time_;
                  this.span_scope_status_= msgObj.span_scope_status_;
                  this.span_scope_ra_    = msgObj.span_scope_ra_.replace(/(.*\.....)(.*)/g,'$1');
                  this.span_scope_dec_   = msgObj.span_scope_dec_.replace(/(.*\.....)(.*)/g,'$1');
                  this.span_scope_az_    = msgObj.span_scope_az_.replace(/(.*\.....)(.*)/g,'$1');
                  this.span_ccd_status_  = msgObj.span_ccd_status_;
                  this.span_ccd_filter_  = msgObj.span_ccd_filter_===''?'-':msgObj.span_ccd_filter_;
                  this.span_ccd_bin_     = msgObj.span_ccd_bin_;
                  this.span_scope_alt_   = msgObj.span_scope_alt_.replace(/(.*\.....)(.*)/g,'$1');
                  this.span_plan_taskName= msgObj.taskName===''?'--':msgObj.taskName;
                  // console.log('taskName = '+msgObj.taskName);

                  this.logText           = msgObj.consoleText===''?'':msgObj.consoleText.replace(/\r\n/g,'<br />');
                  this.updateTaskInfo(msgObj.taskName , this.logText);
                  this.cameraCooler      =msgObj.cameraCooler;
                  let storeFilters=this.$store.state.selectedTelesFilters;

                  if(msgObj.all_ccd_filters !== undefined){
                      let filters = msgObj.all_ccd_filters.split(",");
                      // console.log(filters)
                      if(filters.length > 0 ){
                        for (var i=0;i<filters.length;i++){
                           for ( var j = 0; j <storeFilters.length; j++){
                                if(filters[i]==storeFilters[j].filterKey){
                                  this.$store.state.selectedTelesFilters[0].useable=false;
                                  this.$store.state.selectedTelesFilters[j].useable=true;
                                  // console.log(filters[i])
                                }
                              }
                          }
                      }

                  }

                    // this.$store.state.selectedTelesFilters;

                    console.log('GraphX_'+msgObj.span_sm_trkGraphX_);
                    // console.log(msgObj.span_sm_trkGraphY_);
                  if(msgObj.span_sm_trkGraphX_ !== undefined && msgObj.span_sm_trkGraphX_.length>0){
                      var x_list = msgObj.span_sm_trkGraphX_.split(",");
                      var y_list = msgObj.span_sm_trkGraphY_.split(",");
                      this.chartData.rows.length=0;
                      // dataPoints_x.length=0;
                      // dataPoints_y.length=0;
                      for (var i=0;i<x_list.length;i++)
                      {this.chartData.rows.push({xa: i,x: parseFloat(x_list[i]),y:parseFloat(y_list[i])});}
                      // for (var i=0;i<y_list.length;i++)
                      // {dataPoints_y.push({x: i,y: parseFloat(y_list[i])});}
                      // $("#chartContainer").CanvasJSChart().render();

                      // ctx_guide.beginPath();
                      // ctx_guide.arc(40 + (x_list[x_list.length-1])*10,40 + (y_list[y_list.length-1]*10),2,0,360,false);
                      // ctx_guide.fill();
                  }
                  // console.log(this.followCCD)
                  if(this.followCCD){
                    var ccdAimObj = this.$stel.createObj('dso', {id: 'ccdAim',nsid: '0000000beefbeef1',
                      model_data: {ra: this.span_scope_ra_,de: this.span_scope_dec_,vmag: 0,dimx: 60,dimy: 60,},
                      names: [msgObj.deviceName, 'CCD']
                    });
                    let azaltCCD = this.$stel.convertPosition(this.$stel.core.observer, 'ICRS', 'OBSERVED', ccdAimObj.icrs)
                    this.$stel.core.lookat(azaltCCD, 1.0)                    
                  }

                  // aladin.removeLayers();
                  // drawAladinLayer(siteValue,msgObj);
                  // var centerRa=parseFloat(msgObj.span_scope_ra_);var centerDec=parseFloat(msgObj.span_scope_dec_);
                  // if($('#checkbox-followCCD').prop("checked")){aladin.animateToRaDec(centerRa, centerDec,3);}
                  // console.log(centerRa);
                  // console.log(centerDec);

              }
          }
        
        }
      }
      this.intervalId = setInterval(()=>{this.refreshImgs()},10000)
    },
    methods: {
      // clickFollowCCD:function(){
      //   this.followCCD = ! this.followCCD;
      //   console.log(followCCD)
      // }
      refreshImgs:function(){
        // this.imageFadeShow = false;
        let randomPar = Math.random()
        this.cameraStyle = {'background-image':'url(http://gyz.xtelescope.net:18084/XP1/camera.png?r='+randomPar+')','background-repeat':'no-repeat','background-position':'-400px -300px','background-size':'800px 600px',height:'200px'}
        // console.log('==');

        this.preImageUrl = {'background-image':'url(http://gyz.xtelescope.net:18084/XP1/lastimage.png?r='+randomPar+')','background-repeat':'no-repeat','background-position':'0px 0px','background-size':'200px 600px',height:'200px'}
        this.focusUrl = {'background-image':'url(http://gyz.xtelescope.net:18084/XP1/pvimage.png?r='+randomPar+')','background-repeat':'no-repeat','background-position':'0px 0px','background-size':'200px 600px',height:'200px'}
        // this.imageFadeShow=!this.imageFadeShow;
      },
      updateTaskInfo:function(taskName,logText){
        // console.log(this.$store.state.currentTask.content)
        // console.log(this.$store.state.currentTaskName)
              for (let j in this.$store.state.activities) {
                let activityItem = this.$store.state.activities[j]
                // console.log(taskName==activityItem.content)
                // console.log(taskName===activityItem.content)
                // console.log(taskName+'---'+activityItem.content)
                if (taskName==activityItem.content) {
                  // this.$store.state.activities[j].log=logText?logText:'执行中...';
                  this.$store.state.activities[j].log='执行中...';
                  this.$store.state.activities[j].color='green';
                }
                if(this.$store.state.currentTaskName==taskName){
                  console.log(this.$store.state.activities[j])
                  this.$store.state.currentTask=this.$store.state.activities[j];
                }
              }

      },
      updateTaskDownload:function(taskName ,ossUrl){
        // console.log(taskName);
        // console.log(ossUrl);
              for (let j in this.$store.state.activities) {
                let activityItem = this.$store.state.activities[j]
                // console.log(taskName==activityItem.content)
                // console.log(taskName===activityItem.content)

                if (taskName==activityItem.content) {
                  this.$store.state.activities[j].ossPath.push({url:ossUrl,fileShortName:ossUrl.slice(ossUrl.lastIndexOf('/'))});
                  this.$store.state.activities[j].disabled=false;
                  this.$store.state.activities[j].log='已完成一个文件上传';
                  console.log(this.$store.state.activities)
                }

                if(this.$store.state.currentTaskName==taskName){
                  this.$store.state.currentTask=this.$store.state.activities[j];
                }
              }

      }
    },
    beforeDestroy:function(){
      clearInterval(this.intervalId)
    }
  }
</script>

<style>
a {
  color: #82b1ff;
}
.status-board 
{
  display: grid;
  text-align: center;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 
    "status-board-11 status-board-12 status-board-13 status-board-14 status-board-15"
    "status-board-21 status-board-22 status-board-23 status-board-24 status-board-24";
}
.status-item-board
{
  display: grid;
  border: 1px solid #666;
  grid-gap: 1px;
  text-align: center;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
      "box-title box-title"
      "box-key-1 box-value-1"
      "box-key-2 box-value-2"
      "box-key-3 box-value-3"
      "box-key-4 box-value-4"
      "box-key-5 box-value-5"
      "box-key-6 box-value-6";
      
}
.status-board-11{grid-area:status-board-11}.status-board-21{grid-area:status-board-21}
.status-board-12{grid-area:status-board-12}.status-board-22{grid-area:status-board-22}
.status-board-13{grid-area:status-board-13}.status-board-23{grid-area:status-board-23}
.status-board-14{grid-area:status-board-14}.status-board-24{grid-area:status-board-24}
.status-board-15{grid-area:status-board-15}.status-board-25{grid-area:status-board-25}
.log-board-header{background-color: #888888;grid-area:box-title;border: 1px solid #666;grid-gap: 1px;text-align:center}
.text-wrapper{white-space:pre-wrap}
.log-board{text-align:left}
.box-title{background-color: #888888;grid-area:box-title;border: 1px solid #666;grid-gap: 1px;}
.box-key-1{background-color: #00008b;grid-area:box-key-1;border: 1px solid #666;grid-gap: 1px;}
.box-key-2{background-color: #00008b;grid-area:box-key-2;border: 1px solid #666;grid-gap: 1px;}
.box-key-3{background-color: #00008b;grid-area:box-key-3;border: 1px solid #666;grid-gap: 1px;}
.box-key-4{background-color: #00008b;grid-area:box-key-4;border: 1px solid #666;grid-gap: 1px;}
.box-key-5{background-color: #00008b;grid-area:box-key-5;border: 1px solid #666;grid-gap: 1px;}
.box-key-6{background-color: #00008b;grid-area:box-key-6;border: 1px solid #666;grid-gap: 1px;}
.box-key{background-color: #00008b;grid-area:box-key;border: 1px solid #000;grid-gap: 1px;}
.box-value{background-color: #8b0000;grid-area:box-value;border: 1px solid #000;grid-gap: 1px;}
.box-value-1{background-color: #8b0000;grid-area:box-value-1;border: 1px solid #666;grid-gap: 1px;}
.box-value-2{background-color: #8b0000;grid-area:box-value-2;border: 1px solid #666;grid-gap: 1px;}
.box-value-3{background-color: #8b0000;grid-area:box-value-3;border: 1px solid #666;grid-gap: 1px;}
.box-value-4{background-color: #8b0000;grid-area:box-value-4;border: 1px solid #666;grid-gap: 1px;}
.box-value-5{background-color: #8b0000;grid-area:box-value-5;border: 1px solid #666;grid-gap: 1px;}
.box-value-6{background-color: #8b0000;grid-area:box-value-6;border: 1px solid #666;grid-gap: 1px;}
.fade-enter-active{transition:opacity 0.5s}
.fade-enter{opacity:0}

  .el-header, .el-footer {
    background-color: #444;
    color: #fff;
    text-align: center;
    line-height: 60px;
  }
  .el-main {
    background-color: #444;
    color: #fff;
    text-align: center;
  }
  
  body > .el-container {
    margin-bottom: 40px;
  }

</style>
