// Stellarium Web - Copyright (c) 2018 - Noctua Software Ltd
//
// This program is licensed under the terms of the GNU AGPL v3, or
// alternatively under a commercial licence.
//
// The terms of the AGPL v3 license can be found in the main directory of this
// repository.

<template>

<div class="click-through" style="position:absolute; width: 100%; height: 100%; display:flex; align-items: flex-end;">
  <toolbar class="get-click"></toolbar>
  <!-- <observing-panel></observing-panel> -->
  <template v-for="item in pluginsGuiComponents">
    <component :is="item"></component>
  </template>
  <template v-for="item in dialogs">
    <component :is="item"></component>
  </template>
  <selected-area-info style="position: absolute; top: 48px; left: 0px; width: 430px; max-width: calc(100vw - 12px); margin: 6px" class="get-click"></selected-area-info>
  <progress-bars style="position: absolute; bottom: 54px; right: 12px;"></progress-bars>
  <bottom-bar style="position:absolute; width: 100%; justify-content: center; bottom: 0; display:flex; margin-bottom: 0px" class="get-click"></bottom-bar>

</div>

</template>

<script>
import Toolbar from '@/components/toolbar.vue'
import BottomBar from '@/components/bottom-bar.vue'
import SelectedAreaInfo from '@/components/selected-area-info.vue'
import ProgressBars from '@/components/progress-bars'

// import AboutDialog from '@/components/about-dialog.vue'
import DataCreditsDialog from '@/components/data-credits-dialog.vue'
import PrivacyDialog from '@/components/privacy-dialog.vue'
import ViewSettingsDialog from '@/components/view-settings-dialog.vue'
import PlanetsVisibility from '@/components/planets-visibility.vue'
import LocationDialog from '@/components/location-dialog.vue'
import ObservingPanel from '@/components/observing-panel.vue'
import AmqStatus from '@/components/amq-status.vue'
import ShootParam from '@/components/shoot-param.vue'

export default {
  data: function () {
    return {
      dialogs: [
        'amq-status',
        'shoot-param',
        // 'about-dialog',
        'data-credits-dialog',
        'privacy-dialog',
        'view-settings-dialog',
        'planets-visibility'
        // ,'location-dialog'
        // ,'selected-area-info'
        ],
        layer: this.$stel.createLayer({z: 41, visible: true}),
        shapes: []
    }
  },
  created:function(){
    this.$stel.observer.longitude = 88.5 * this.$stel.D2R
    this.$stel.observer.latitude = 43.5 * this.$stel.D2R
    this.$stel.core.observer.azimuth = Number('0') * Math.PI / 180
    this.$stel.core.observer.altitude = Number('45') * Math.PI / 180
    this.$stel.core.atmosphere.visible=false
    this.$store.state.currentLocation.shortName="高崖子天文台"
    this.$stel.core.dsos.visible=true
      

    console.log("Add a fake star near polaris")
    var layer = this.$stel.createLayer({z: 7, visible: true})
    var star = this.$stel.createObj('star', {
      id: 'my star',
      model_data: {
        ra: 0,
        de: 78,
        vmag: -2,
      }
    })
    star.update()
    layer.add(star)
    // this.$stel.core.selection = star
    // this.$stel.core.lookat(star.azalt) // XXX: use radec instead?
    console.log("Add a fake DSO near polaris")
    var layer = this.$stel.createLayer({z: 99, visible: true})
    var dsot = this.$stel.createObj('dso', {
      id: 'dsot',
      model_data: {
        ra: 0,
        de: 89,
        vmag: -10,
        dimx: 160,
        dimy: 260,
      }
    })
    dsot.update()
    layer.add(dsot)
    this.$stel.core.selection = dsot
    if (this.$stel.core.lock) {
        this.$stel.core.lock.update()
        // this.$stel.core.lookat(dsot.azalt, 1.0, 20 * stel.D2R);
    }
    // this.$stel.core.lookat(dsot.azalt) // XXX: use radec instead?
    this.$stel = Object.assign(Object.create(this.$stel), {}, this.$stel)
    // this.$stel.change(function(obj, attr) {
    //   if (attr !== "hovered")
    //     this.$stel = Object.assign(Object.create(this.$stel), {}, this.$stel)
    // })
    let azaltTest=this.$stel.convertPosition(this.$stel.core.observer,'ICRS','OBSERVED',dsot.icrs)
    let shapeType='rect'
    var shape = this.layer.add(shapeType, {
      size: [3 * this.$stel.D2R, 4 * this.$stel.D2R],
      frame: this.$stel.FRAME_ICRS,
      pos:[0.0005,0.0004,0.002],
      // pos:[azaltTest[0], azaltTest[1], azaltTest[2]],
      color: [0.2, 0.2, 0.1, 0.4],
      border_color: [0.6, 0.1, 0.1, 0.5]

    })
    this.shapes.push(shape)
    console.log(dsot)
    console.log(azaltTest)
    console.log(shape)

  },
  methods: {
  },
  computed: {
    pluginsGuiComponents: function () {
      let res = []
      for (let i in this.$stellariumWebPlugins()) {
        let plugin = this.$stellariumWebPlugins()[i]
        if (plugin.guiComponents) {
          res = res.concat(plugin.guiComponents)
        }
      }
      return res
    }
  },
  // components: { Toolbar, BottomBar, AboutDialog, DataCreditsDialog, PrivacyDialog, ViewSettingsDialog, PlanetsVisibility, SelectedObjectInfo, LocationDialog, ProgressBars, ObservingPanel }
  components: { Toolbar, BottomBar, DataCreditsDialog, PrivacyDialog, ViewSettingsDialog, PlanetsVisibility
    , SelectedAreaInfo
    ,ObservingPanel
    , ProgressBars, AmqStatus,ShootParam }
}
</script>

<style>
</style>
