<template>
<v-dialog lazy max-width="1000" v-model="$store.state.showShootDialog">
  <v-card v-if="$store.state.showShootDialog" class="secondary white--text">
    <v-card-title><div class="headline">拍摄 <span style="color:#66E">  {{$store.state.selectedTelescope}}&emsp;-&emsp;{{$store.state.taskTargetName}}</span>
  </div></v-card-title>
    <v-card-text>
      <el-row>
        <!-- <el-col :span="24"><div class="grid-content bg-row">&emsp;</div></el-col> -->
        <el-col :span="12"><div class="grid-content bg-row-light">RA</div></el-col>
        <el-col :span="12"><div class="grid-content bg-row-light">{{$store.state.taskTargetRA}}</div></el-col>
        <el-col :span="12"><div class="grid-content bg-row-light">Dec</div></el-col>
        <el-col :span="12"><div class="grid-content bg-row-light">{{$store.state.taskTargetDec}}</div></el-col>

      </el-row >

      <el-divider content-position="center"><i class="el-icon-edit-outline"></i></el-divider>
      <el-row v-for="filterItem in $store.state.selectedTelesFilters"  v-if="filterItem.useable">
        <el-card shadow="always">
         <el-col :span="19"><el-link type="warning">滤镜： {{filterItem.filterName}}</el-link></el-col>
          <el-col :span="5">
              <el-button type="primary" icon="el-icon-plus" @click="addFilterList(filterItem.filterName,filterItem.expTime,filterItem.bin,filterItem.count)" size="mini"></el-button>
          </el-col>
         <el-col  :span="12">曝光时间：</el-col>
          <el-col  :span="12"><el-input-number v-model="filterItem.expTime" :max="600" show-input size="mini"></el-input-number>
          </el-col>
          <el-col  :span="12">Bin:</el-col>
          <el-col  :span="12"><el-input-number v-model="filterItem.bin"  :min="1" :max="4" label="Bin" size="mini"></el-input-number>
          </el-col>
          <el-col  :span="12">单滤镜重复: </el-col>
          <el-col  :span="12"><el-input-number v-model="filterItem.count"  :min="1" :max="100" label="Count" size="mini"></el-input-number>
          </el-col>
        </el-card>
      </el-row>
      <el-divider content-position="center"><i class="el-icon-tickets"></i></el-divider>
      <el-row v-for="(filterItem,itemIndex) in planFilterExps">
        <el-card shadow="always">
         <el-col :span="19">滤镜：{{filterItem.type}}</el-col>
          <el-col  :span="5"><el-button type="primary" icon="el-icon-delete" @click="deleteFilterList(itemIndex)" size="mini"></el-button>
            </el-col>
            <el-col :span="12">曝光时间：</el-col>
          <el-col :span="12"><el-input-number v-model="filterItem.exp" :max="600" show-input disabled size="mini"></el-input-number></el-col>
          <el-col  :span="12">Bin:</el-col>
          <el-col  :span="12"><el-input-number v-model="filterItem.bin"  :min="1" :max="4" label="Bin" disabled  size="mini"></el-input-number>
            </el-col>
            <el-col  :span="12">Count:</el-col>
          <el-col  :span="12"><el-input-number v-model="filterItem.count"  :min="1" :max="100" label="Count" disabled  size="mini"></el-input-number>
            </el-col>
          </el-card>
      </el-row>


    </v-card-text>
    <v-card-actions>
      <el-link v-for="(ossPathItem, indexj) in $store.state.currentTask.ossPath" type="primary"  :href="ossPathItem.url" :disabled="$store.state.currentTask.disabled">任务：{{$store.state.currentTask.content}}</el-link>
      <el-link type="primary"  disabled> 状态：{{$store.state.currentTask.log}}</el-link>
      <v-spacer></v-spacer>
      <el-button type="success" @click="shootNow">提交拍摄</el-button>
      <v-btn class="blue--text darken-1" flat @click.native="$store.state.showShootDialog = false">关闭</v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>



</template>

<script>
  import axios from 'axios'
  import Qs from 'qs'
  import Moment from 'moment'

  const config = require('../../config')

  export default {
    components: { axios },
    data: function () {
      
      return {
        followCCD         :false,
        intervalId        :0,
        sliderValue       : 50,
        filter_1          :30,
        planFilterExps    :[],        
        
      }
    },
    created:function(){
      // this.$parent.$parent.$parent.menuItems.concat([{divider: true},{header: '~~~'},]);
      const ws = new WebSocket(config.dev.amqUrl, 'stomp');
      ws.onopen = () => {
        ws.send('CONNECT\n\n\0');       
        ws.send('SUBSCRIBE\ndestination:'+'/topic/'+config.dev.amqStatusTopic+'\n\nack:auto\n\n\0');       
        // ws.send('DISCONNECT\n\n\0');
      };
     
    },
    methods: {

      refreshImgs:function(){

      },
      addFilterList:function(p_fName,p_exp,p_bin,p_count){
        this.planFilterExps.push({type:p_fName,exp:p_exp,bin:p_bin,count:p_count});
        console.log(p_fName+ "         " + p_exp);
      },
      deleteFilterList:function(delIndex){
        this.planFilterExps.splice(delIndex,1);
        console.log(delIndex+ "     del    " );
      },
      shootNow:function(){
        if(this.planFilterExps.length<1){
          this.$message.error('需要选择拍摄时间和滤镜')
          return
        }

        let p_data = {targetEqp:this.$store.state.selectedTelescope,star_dec_value:this.$store.state.taskTargetDec,ccd_filter_array:JSON.stringify(this.planFilterExps),
                star_ra_value:this.$store.state.taskTargetRA}   
        let axiosHeader = {headers: {'Content-Type': 'application/x-www-form-urlencoded',},}
        axios.post('/api/schd/addEventPlan',Qs.stringify(p_data),axiosHeader)
        .then((response)=>{console.log(response);let taskData = JSON.parse(response.data.taskData);
          this.$message.success({message: "计划：" +taskData.taskName +"发送至:" +taskData.target_eqp,duration:30000,showClose:true});
          this.$store.state.activities.push({content: taskData.taskName,color:'#08f',timestamp: new Moment().format('YYYY-MM-DD HH:mm:ss'),disabled:true,ossPath:[],log:'已发送'});
          // this.$store.state.currentTask={content: taskData.taskName,disabled:true,ossPath:'',log:''}
          this.$store.commit('setValue', {varName: 'currentTask', newValue: {content: taskData.taskName,disabled:true,ossPath:[],log:''}})
          this.$store.commit('setValue', {varName: 'currentTaskName', newValue: taskData.taskName})
        },)
        .catch((error) => {this.$message.error(error);
        this.$store.state.activities.push({content: '错误',color:'#F40',timestamp: new Moment().format('YYYY-MM-DD HH:mm:ss'),disabled:true,ossPath:[],log:'已停止'});
      })
      }
    },
    beforeDestroy:function(){
      clearInterval(this.intervalId)
    }
  }
</script>

<style>
a {
  color: #82b1ff;
}
.shoot-board 
{
  display: grid;
  text-align: center;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: 
    "shoot-board-11"
    "shoot-board-21";
}
.shoot-item-board
{
  display: grid;
  border: 1px solid #666;
  grid-gap: 1px;
  text-align: center;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
      "box-shoot-title box-shoot-title"
      "box-shoot-key-1 box-shoot-value-1";}

.log-board-header{background-color: #888888;grid-area:box-shoot-title;border: 1px solid #666;grid-gap: 1px;text-align:center}
.text-wrapper{white-space:pre-wrap}
.log-board{text-align:left}
.fade-enter-active{transition:opacity 0.5s}
.fade-enter{opacity:0}

 .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-row-dark {
    
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-row-light {
    
  }
  .grid-content {
    text-align:center;
    border-radius: 4px;
    min-height: 24px;
  }
  .row-bg {
    padding: 10px 0;
    
  }

    .el-table .warning-row {
    background: oldlace;
  }

  .el-table .success-row {
    background: #f0f9eb;
  }
</style>
